# Ignore node_modules directory
node_modules/

# Ignore build output
/dist/

# Ignore IDE and editor files
.idea/
.vscode/
.DS_Store/

# Ignore logs and cache files
*.log
*.cache

# Ignore environment-specific files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore compiled files
*.map
.DS_Store
