.road-start-light {
  background-image: url(/svg_icons/road-start-light.svg);
  display: inline-block;
  width: calc(320px * 1.5);
  min-width: calc(320px * 1.5);
  height: calc(120px * 1.5);
  min-height: calc(120px * 1.5);
  margin-top: -1px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.road-left-light {
  background-image: url(/svg_icons/road-left-light.svg);
  display: inline-block;
  width: calc(320px * 1.5);
  min-width: calc(320px * 1.5);
  height: calc(120px * 1.5);
  min-height: calc(120px * 1.5);
  margin-left: 24.5px;
  margin-top: -1px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 101;
}

.road-right-light {
  background-image: url(/svg_icons/road-right-light.svg);
  display: inline-block;
  width: calc(320px * 1.5);
  height: calc(120px * 1.5);
  margin-left: 12.5px;
  margin-top: -1px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 101;
}

.icon-sign-out {
  background-image: url(/svg_icons/logout.svg);
  display: inline-block;
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}
.icon-sign-out-dark {
  background-image: url(/svg_icons/logout-dark.svg);
  display: inline-block;
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

.icon-dark-mode {
  background-image: url(/svg_icons/moon-dark-mode.svg);
  display: inline-block;
  width: 65px;
  height: 65px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-dark-mode-hover {
  background-image: url(/svg_icons/moon-dark-mode-hover.svg);
  display: inline-block;
  width: 65px;
  height: 65px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-light-mode {
  background-image: url(/svg_icons/sun-light-mode.svg);
  display: inline-block;
  width: 65px;
  height: 65px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-home {
  background-image: url(/svg_icons/icon-home.svg);
  display: inline-block;
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-home-dark {
  background-image: url(/svg_icons/icon-home-dark.svg);
  display: inline-block;
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-challenges {
  background-image: url(/svg_icons/icon-challenges.svg);
  display: inline-block;
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-challenges-dark {
  background-image: url(/svg_icons/icon-challenges-dark.svg);
  display: inline-block;
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-budget {
  background-image: url(/svg_icons/icon-budget.svg);
  display: inline-block;
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-budget-dark {
  background-image: url(/svg_icons/icon-budget-dark.svg);
  display: inline-block;
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-user {
  background-image: url(/svg_icons/icon-user.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-mail {
  background-image: url(/svg_icons/icon-mail.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-phone {
  background-image: url(/svg_icons/icon-phone.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-password {
  background-image: url(/svg_icons/icon-password.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-pencil {
  background-image: url(@/assets/svg_icons/icon-pencil.svg);
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}