.road-start-light{
    background-image: url(src/assets/svg_icons/road-start-light.svg);
    display: inline-block;
    width: 320px; 
    height: 120px;
    margin-left: 25.5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.road-left-light{
    background-image: url(src/assets/svg_icons/road-left-light.svg);
    display: inline-block;
    width: 320px; 
    height: 120px; 
    margin-left: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.road-right-light{
    background-image: url(src/assets/svg_icons/road-right-light.svg);
    display: inline-block;
    width: 320px; 
    height: 120px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.icon-sign-out {
    background-image: url(@/assets/svg_icons/logout.svg);
    display: inline-block;
    width: 60px; 
    height: 60px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}
.icon-sign-out-dark {
    background-image: url(@/assets/svg_icons/logout-dark.svg);
    display: inline-block;
    width: 60px; 
    height: 60px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}


.icon-dark-mode{
    background-image: url(@/assets/svg_icons/moon-dark-mode.svg);
    display: inline-block;
    width: 65px; 
    height: 65px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.icon-dark-mode-hover{
    background-image: url(@/assets/svg_icons/moon-dark-mode-hover.svg);
    display: inline-block;
    width: 65px; 
    height: 65px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-light-mode{
    background-image: url(@/assets/svg_icons/sun-light-mode.svg);
    display: inline-block;
    width: 65px; 
    height: 65px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-home{
    background-image: url(@/assets/svg_icons/icon-home.svg);
    display: inline-block;
    width: 35px; 
    height: 35px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-home-dark{
    background-image: url(@/assets/svg_icons/icon-home-dark.svg);
    display: inline-block;
    width: 35px; 
    height: 35px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-challenges{
    background-image: url(@/assets/svg_icons/icon-challenges.svg);
    display: inline-block;
    width: 35px; 
    height: 35px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-challenges-dark{
    background-image: url(@/assets/svg_icons/icon-challenges-dark.svg);
    display: inline-block;
    width: 35px; 
    height: 35px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-budget{
    background-image: url(@/assets/svg_icons/icon-budget.svg);
    display: inline-block;
    width: 35px; 
    height: 35px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-budget-dark{
    background-image: url(@/assets/svg_icons/icon-budget-dark.svg);
    display: inline-block;
    width: 35px; 
    height: 35px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}